body
{
   padding: 10px;
   margin: 40px;
   font-size: 24px;
   font-family: helvetica;
   background-image: url(https://userscontent2.emaze.com/images/a9f79704-a730-41a9-88d5-6f62c52718b0/32d6f4847750fc61d1c934be0073a8ae.png);
   background-repeat: no-repeat;
   background-size: auto;
   color: white;
}

nav
{
    background-color: transparent;
    padding: 0px;
    color: white;
}